<section class="contact-confirmation">
  <div class="spinner-wrapper">
    <div class="spinner">
      <span class="spinner-dot"></span>
    </div>

    <div class="spinner-image-container">
      <span class="spinner-image"></span>
      <p class="spinner-text">Just a sec...</p>
    </div>
  </div>

  <div class="confirmation">
    <h2 class="h2 confirmation-title">Congrats! Your contact form has been sent securely</h2>
    <div class="confirmation-icon">
      <img src="../assets/images/confirmation-checkmark.svg">
    </div>
    <p class="confirmation-subtitle">We’ll be in touch soon. In the meantime, here’s the latest and greatest from around the globe</p>
    <a href="https://medium.com/greater-than-experience-design" class="confirmation-cta">Insights</a>

    <img src="../assets/images/confirmation-globe.png" class="confirmation-globe">
  </div>

</section>
