<div class="contact-form">
  <form class="js-contact-form" action="https://getform.org/f/80bc63ff-b5d4-4b9e-9be1-d841895c8daf" method="POST" data-parsley-errors-messages-disabled>
    <div class="contact-form-columns">
      <div class="contact-form-col">
        <div class="contact-input-container">
          <label class="contact-label" for="">Name</label>
          <input class="contact-input" name="name" type="text">
          <span class="input-tooltip">
            <span class="input-tooltip-content">
              <p>Thanks for sharing. This icon represents how your data will be treated; securely and with respect.</p>
            </span>
          </span>
        </div>
        <div class="contact-input-container">
          <label class="contact-label contact-label-2" for="">Company</label>
          <input class="contact-input" name="company" type="text">
          <span class="input-tooltip">
            <span class="input-tooltip-content">
              <p>Thanks for sharing. This icon represents how your data will be treated; securely and with respect.</p>
            </span>
          </span>
        </div>
        <div class="contact-input-container">
          <label class="contact-label contact-label-2" for="">Telephone</label>
          <input class="contact-input" name="phone" data-parsley-trigger="change" data-parsley-pattern="/\(?([0-9]{3})\)?([ .-]?)([0-9]{3})\2([0-9]{4})/"  type="text" maxlength="15">
          <span class="error-message">Want to chat? Check your number</span>
          <span class="input-tooltip">
            <span class="input-tooltip-content">
              <p>Thanks for sharing. This icon represents how your data will be treated; securely and with respect.</p>
            </span>
          </span>
        </div>
        <div class="contact-input-container">
          <label class="contact-label contact-label-2" for="">Email</label>
          <input class="contact-input email-input" type="email" name="email" data-parsley-trigger="change" data-parsley-type="email" autocomplete="off">
          <span class="error-message">Need a reply? Check your email</span>
          <span class="input-tooltip">
            <span class="input-tooltip-content">
              <p>Thanks for sharing. This icon represents how your data will be treated; securely and with respect.</p>
            </span>
          </span>
        </div>
      </div>
      <div class="contact-form-col">
        <div class="textarea-container">
          <label class="contact-label" for="">Your message*</label>
          <textarea class="contact-textarea" placeholder="Talk to us. If you want a response, we’ll need your contact details." name="message" maxlength="250" required></textarea>
          <span class="input-tooltip textarea-tooltip">
            <span class="input-tooltip-content">
              <p>Thanks for sharing. This icon represents how your data will be treated; securely and with respect.</p>
            </span>
          </span>
          <span class="textarea-counter"><span class="counter-number">250</span> Characters</span>
        </div>
      </div>
    </div>
    <div class="contact-form-test">
      <h4 class="form-test-heading">Pass the human test before you submit.</h4>
      <span class="test-number-card test-number-1"></span>
      <span class="test-symbol">+</span>
      <span class="test-number-card test-number-2"></span>
      <span class="test-symbol">=</span>
      <input class="test-input" type="text" maxlength="4" size="4">
      <span class="form-text-message">You can now submit</span>
      <span class="form-test-icon"></span>
    </div>

    <button class="contact-form-submit is-inactive">Submit</button>
  </form>
</div>
