<div class="clients-carousel-section section">

  <div class="Center-Container is-Table">
    <div class="Table-Cell">
      <div class="Center-Block">
        <div class="clients-content-wrapper">
          <div class="clients-carousel">

            <div class="clients-carousel-slide first-slide">
              <h3>{{ page['Slide 1'] }}</h3>
              <img src="../assets/images/clients-carousel-1.svg" alt="">
            </div>

            <div class="clients-carousel-slide">
              <h3>{{ page['Slide 2'] }}</h3>
              <img src="../assets/images/clients-carousel-2.svg" alt="">
            </div>

            <div class="clients-carousel-slide">
              <h3>{{ page['Slide 3'] }}</h3>
              <img src="../assets/images/clients-carousel-3.svg" alt="">
            </div>

            <div class="clients-carousel-slide">
              <h3>{{ page['Slide 4'] }}</h3>
              <img src="../assets/images/clients-carousel-4.svg" alt="">
            </div>

            <div class="clients-carousel-slide">
              <h3>{{ page['Slide 5'] }}</h3>
              <img src="../assets/images/clients-carousel-5.svg" alt="">
            </div>

            <div class="clients-carousel-slide last-slide">
              <div class="slide-flex-wrapper">
                <h3>{{ page['Slide 6'] }}</h3>
              </div>
              <img src="../assets/images/clients-carousel-6.svg" alt="" class="clients-carousel-img">
            </div>

          </div>

          <p class="clients-carousel-text">The next step is easy</p>
          <a href="/contact/" class="clients-btn">Contact us</a>
        </div>
      </div>
    </div>
  </div>
</div>
