<div class="clients-hero section">
  <div id="services-hero-particles"></div>
  <div class="clients-globe">
    <span class="clients-dot dot-technology">
      <span class="clients-dot-description description-technology">Consumer Technology</span>
      <span class="pulse"></span>
    </span>

    <span class="clients-dot dot-telecomunications">
      <span class="clients-dot-description description-telecomunications">Telecommunications</span>
      <span class="pulse"></span>
    </span>

    <span class="clients-dot dot-financial">
      <span class="clients-dot-description description-financial">Financial Services</span>
      <span class="pulse"></span>
    </span>

    <span class="clients-dot dot-retail">
      <span class="clients-dot-description description-retail">Retail</span>
      <span class="pulse"></span>
    </span>

    <span class="clients-dot dot-goverment">
      <span class="clients-dot-description description-goverment">Government</span>
      <span class="pulse"></span>
    </span>

    <span class="clients-dot dot-devices">
      <span class="clients-dot-description description-devices">Connected Devices</span>
      <span class="pulse"></span>
    </span>

  </div>

  <span class="scroll-prompt">
    <span class="scroll-prompt-circle"></span>
  </span>
  <span class="scroll-prompt-text">Scroll</span>
</div>
