<div class="services-diagram section" data-anchor="5" id="services-diagram">

  <h2 class="h2 services-diagram-title">Our Methodology</h2>
  <h4 class="services-diagram-subtitle">Our methodology drives how our services interoperate</h4>

  <div class="diagram-wrapper">
    <div class="diagram-container">

      <div class="diagram-heading">
        <span class="diagram-heading-left">Human<br>Insights</span>
        <span class="diagram-heading-right">Business<br>Objectives</span>
      </div>

      <div class="diagram">
        <h4 class="diagram-number">1</h4>
        <p class="diagram-title">Insight<br>Validation</p>

        <div class="diagram-nav-points">
          <div class="diagram-nav-point diagram-nav-top is-current">
            <span class="diagram-dot"></span>
            <span class="diagram-dot"></span>
            <span class="diagram-dot"></span>
            <span class="diagram-dot"></span>
            <span class="diagram-dot"></span>
          </div>
          <div class="diagram-nav-point diagram-nav-right">
            <span class="diagram-dot"></span>
            <span class="diagram-dot"></span>
            <span class="diagram-dot"></span>
            <span class="diagram-dot"></span>
            <span class="diagram-dot"></span>
          </div>
          <div class="diagram-nav-point diagram-nav-bottom is-inactive">
            <span class="diagram-dot"></span>
            <span class="diagram-dot"></span>
            <span class="diagram-dot"></span>
            <span class="diagram-dot"></span>
            <span class="diagram-dot"></span>
          </div>
          <div class="diagram-nav-point diagram-nav-left is-inactive">
            <span class="diagram-dot"></span>
            <span class="diagram-dot"></span>
            <span class="diagram-dot"></span>
            <span class="diagram-dot"></span>
            <span class="diagram-dot"></span>
          </div>
        </div>

      </div>
    </div>

    <div class="diagram-content">
      <div class="diagram-carousel">
        <div class="diagram-slide diagram-slide-1">
          <span class="diagram-slide-number">1</span>
          <h4 class="diagram-slide-title">Insight Validation</h4>
          {{ page['First Slide Text'] | markdownify }}
        </div>
        <div class="diagram-slide diagram-slide-2">
          <span class="diagram-slide-number">2</span>
          <h4 class="diagram-slide-title">Discover Human Motivation</h4>
          {{ page['Second Slide Text'] | markdownify }}
        </div>
        <div class="diagram-slide diagram-slide-3">
          <span class="diagram-slide-number">3</span>
          <h4 class="diagram-slide-title">Designing The Right Thing</h4>
          {{ page['Third Slide Text'] | markdownify }}
        </div>
        <div class="diagram-slide diagram-slide-4">
          <span class="diagram-slide-number">4</span>
          <h4 class="diagram-slide-title">Get The Thing Right</h4>
          {{ page['Fourth Slide Text'] | markdownify }}
        </div>
      </div>
    </div>
  </div>

  {% include shared/scroll-prompt.html %}

</div>
