<div class="services-section services-research section" data-anchor="2">
  <div class="services-section-col">
    <div class="services-col-wrapper animated fadeInUp wow">
      {{ page['Research Text'] | markdownify }}
    </div>
  </div>
  <div class="services-section-col">
    <img class="services-icon-research" src="../assets/images/services-research.svg" alt="Research">
  </div>
  {% include shared/scroll-prompt.html %}
</div>

<div class="services-section services-design section" data-anchor="3">
  <div class="services-section-col">
    <img class="services-icon-design" src="../assets/images/services-design.svg" alt="Design">
  </div>
  <div class="services-section-col">
    <div class="services-col-wrapper animated fadeInUp wow">
      {{ page['Design Text'] | markdownify }}
    </div>
  </div>
  {% include shared/scroll-prompt.html %}
</div>

<div class="services-section services-strategy section" data-anchor="4">
  <div class="services-section-col">
    <div class="services-col-wrapper animated fadeInUp wow">
      {{ page['Strategy Text'] | markdownify }}
    </div>
  </div>
  <div class="services-section-col">
    <img class="services-icon-strategy" src="../assets/images/services-strategy.svg" alt="Strategy">
  </div>
  {% include shared/scroll-prompt.html %}
</div>
