<div class="manifesto-section manifesto-pillars-section section">
  <h3>{{ page['Pillars Lead']}}</h3>
  <div class="manifesto-pillars">
    <div class="manifesto-pillar pillar-value wow">
      <div class="manifesto-pillar-content value wow">
        <img src="../assets/images/manifesto-dot-1.svg" alt="" class="">
        <span class="pillar-title">Value</span>
      </div>
    </div>
    <div class="manifesto-pillar pillar-meaning wow">
      <div class="manifesto-pillar-content meaning wow">
        <img src="../assets/images/manifesto-dot-2.svg" alt="" class="">
        <span class="pillar-title">Meaning</span>
      </div>
    </div>
    <div class="manifesto-pillar pillar-engagement wow">
      <div class="manifesto-pillar-content engagement wow">
        <img src="../assets/images/manifesto-dot-3.svg" alt="" class="">
        <span class="pillar-title">Engagement</span>
      </div>
    </div>
  </div>
  {% include shared/scroll-prompt.html %}
</div>
