<div class="pillar-section section">

  <div class="manifesto-wrapper animated fadeInUp wow">
    <p class="pillar-section-title">Pillar 1 : Value</p>
    <h2 class="h2 value-title">Was the outcome achieved?</h2>
    <div class="pillars-section-columns">
      <div class="pillars-section-col">
        <img src="../assets/images/pillar-icon-1.svg" alt="" class="pillar-icon">
        {{ page['Pillars Value First Text'] | markdownify }}
      </div>
      <div class="pillars-section-col">
        <img src="../assets/images/pillar-icon-2.svg" alt="" class="pillar-icon">
        {{ page['Pillars Value Second Text'] | markdownify }}
      </div>
    </div>
  </div>

  <div class="seratonin-box">
    <img src="../assets/images/serotonin.svg" alt="">
    <h5 class="neuro-title">Serotonin</h5>
  </div>

  {% include shared/scroll-prompt.html %}
</div>

<div class="pillar-section section">

  <div class="manifesto-wrapper animated fadeInUp wow">
    <p class="pillar-section-title">Pillar 2 : Meaning</p>
    <h2 class="h2 meaning-title">How important is the outcome?</h2>
    <div class="pillars-section-columns">
      <div class="pillars-section-col">
        <img src="../assets/images/pillar-icon-1.svg" alt="" class="pillar-icon">
        {{ page['Pillars Meaning First Text'] | markdownify }}
      </div>
      <div class="pillars-section-col">
        <img src="../assets/images/pillar-icon-2.svg" alt="" class="pillar-icon">
        {{ page['Pillars Meaning Second Text'] | markdownify }}
        </div>
    </div>
  </div>

  <div class="oxytocin-box">
    <img src="../assets/images/oxytocin.svg" alt="">
    <h5 class="neuro-title">Oxytocin</h5>
  </div>

  {% include shared/scroll-prompt.html %}
</div>

<div class="pillar-section section">

  <div class="manifesto-wrapper animated fadeInUp wow">
    <p class="pillar-section-title">Pillar 3 : Engagement</p>
    <h2 class="h2 engagement-title">How fun was the process?</h2>
    <div class="pillars-section-columns">
      <div class="pillars-section-col">
        <img src="../assets/images/pillar-icon-1.svg" alt="" class="pillar-icon">
        {{ page['Pillars Engagement First Text'] | markdownify }}
      </div>
      <div class="pillars-section-col">
        <img src="../assets/images/pillar-icon-2.svg" alt="" class="pillar-icon">
        {{ page['Pillars Engagement Second Text'] | markdownify }}
        </div>
    </div>
  </div>

  <div class="dopamine-box">
    <img src="../assets/images/dopamine.svg" alt="">
    <h5 class="neuro-title">Dopamine</h5>
  </div>

  {% include shared/scroll-prompt.html %}
</div>
