<div class="manifesto-bios section">
  <div class="bio-avatars">
    <img src="../assets/images/avatar-nathan.png" alt="" class="bio-avatar bio-avatar-nathan is-active">
    <img src="../assets/images/avatar-bianca.png" alt="" class="bio-avatar bio-avatar-bianca">
  </div>

  <div class="bio-box">
    <div class="bio-box-content bio-box-nathan is-active">
      <div class="bio-box-name">{{ page['Founder First Name']}}</div>
      <div class="bio-box-title">{{ page['Founder First Title']}}</div>
      <div class="bio-box-text">{{ page['Founder First Bio']}}</div>
      <div class="bio-box-socials">
        <a target="_blank" href="https://twitter.com/NathanKinch" class="bio-box-social bio-box-twitter"></a>
        <a target="_blank" href="http://uk.linkedin.com/in/nathan-kinch-03359b40" class="bio-box-social bio-box-linkedin"></a>
      </div>
    </div>

    <div class="bio-box-content bio-box-bianca">
      <div class="bio-box-name">{{ page['Founder Second Name']}}</div>
      <div class="bio-box-title">{{ page['Founder Second Title']}}</div>
      <div class="bio-box-text">{{ page['Founder Second Bio']}}</div>
      <div class="bio-box-socials">
        <a target="_blank" href="https://twitter.com/biancakinch" class="bio-box-social bio-box-twitter"></a>
        <a target="_blank" href="https://uk.linkedin.com/in/bianca-kinch-564baa73" class="bio-box-social bio-box-linkedin"></a>
      </div>
    </div>
  </div>

  <a href="/contact/" class="manifesto-cta">Contact us</a>

</div>
