<div class="manifesto-section manifesto-circle-section section">

  <h3 class="h3 manifesto-circle-title-mobile">{{ page['Circle Title']}}</h3>

  <div class="manifesto-circle">
    <h3 class="h3 manifesto-circle-title">{{ page['Circle Title']}}</h3>

    <div class="circle-icon-container smell wow">
      <img src="../assets/images/smell.svg">
      <span class="circle-icon-title">Smell</span>
    </div>
    <div class="circle-icon-container touch wow">
      <img src="../assets/images/touch.svg">
      <span class="circle-icon-title">Touch</span>
    </div>
    <div class="circle-icon-container taste wow">
      <img src="../assets/images/taste.svg">
      <span class="circle-icon-title">Taste</span>
    </div>
    <div class="circle-icon-container hearing wow">
      <img src="../assets/images/hearing.svg">
      <span class="circle-icon-title">Hearing</span>
    </div>
    <div class="circle-icon-container sight wow">
      <img src="../assets/images/sight.svg">
      <span class="circle-icon-title">Sight</span>
    </div>
  </div>

  {% include shared/scroll-prompt.html %}
</div>
