<footer class="footer section">
  <ul class="footer-social">
    <li><a class="footer-social-icon twitter" target="_blank" href="https://twitter.com/GreaterThanXD">Twitter</a></li>
    <li><a class="footer-social-icon facebook" target="_blank" href="https://www.facebook.com/GreaterThanExperience/">Facebok</a></li>
    <li><a class="footer-social-icon linkedin" target="_blank" href="https://www.linkedin.com/company/greater-than-x">Linkedin</a></li>
    <li><a class="footer-social-icon instagram" target="_blank" href="https://www.instagram.com/greaterthanexperience/">Instagram</a></li>
  </ul>

  <p>On this site, you're in control. <br> <a href="/privacy/">Here's our Promise and Privacy Policy</a> </p>
  <p>© Greater Than X 2017  |  <a href="/terms-of-use/">Terms of Use</a></p>
</footer>
