---
title: Privacy
layout: normal-scroll
---

<section class="privacy">
  <div class="privacy-intro">

    <div class="privacy-intro-content">
      <h2 class="h2 privacy-title">{{ page['Title'] }}</h2>
      <p class="privacy-lead">{{ page['Lead'] }}</p>

      <div class="privacy-icons">
        <div class="privacy-icon">
          <img src="/assets/images/privacy-icon-1.svg" alt="">
          <h5 class="privacy-icon-title">{{ page['Privacy Icon 1'] }}</h5>
        </div>

        <div class="privacy-icon">
          <img src="/assets/images/privacy-icon-2.svg" alt="">
          <h5 class="privacy-icon-title">{{ page['Privacy Icon 2'] }}</h5>
        </div>

        <div class="privacy-icon">
          <img src="/assets/images/privacy-icon-3.svg" alt="">
          <h5 class="privacy-icon-title">{{ page['Privacy Icon 3'] }}</h5>
        </div>
      </div>
    </div>

    <span class="scroll-prompt">
      <span class="scroll-prompt-circle"></span>
    </span>
    <span class="scroll-prompt-text">Scroll</span>
  </div>

  <div class="privacy-content">

    <div class="privacy-content-segment first-segment">
      {{ page['First Segment Text'] | markdownify }}
    </div>

    <div class="privacy-content-segment">
      <h2 class="promise-heading">{{ page ['Promise Heading']}}</h2>

      <div class="privacy-item has-icon privacy-point-1">
        <h4 class="promise-subheading">{{ page ['Promise Subheading 1']}}</h4>
        <p>{{ page ['Promise Point 1']}}</p>
      </div>

      <div class="privacy-item has-icon privacy-point-2">
        <h4 class="promise-subheading">{{ page ['Promise Subheading 2']}}</h4>
        <p>{{ page ['Promise Point 2']}}</p>
      </div>

      <div class="privacy-item has-icon privacy-point-3">
        <h4 class="promise-subheading">{{ page ['Promise Subheading 3']}}</h4>
        <p>{{ page ['Promise Point 3']}}</p>
      </div>

      <div class="privacy-item has-icon privacy-point-4">
        <h4 class="promise-subheading">{{ page ['Promise Subheading 4']}}</h4>
        <p>{{ page ['Promise Point 4']}}</p>
      </div>

      <div class="privacy-item has-icon privacy-point-5">
        <h4 class="promise-subheading">{{ page ['Promise Subheading 5']}}</h4>
        <p>{{ page ['Promise Point 5']}}</p>
      </div>

      <div class="privacy-item has-icon privacy-point-6">
        <h4 class="promise-subheading">{{ page ['Promise Subheading 6']}}</h4>
        <p>{{ page ['Promise Point 6']}}</p>
      </div>

      <div class="privacy-item has-icon privacy-point-7">
        <h4 class="promise-subheading">{{ page ['Promise Subheading 7']}}</h4>
        <p>{{ page ['Promise Point 7']}}</p>
      </div>

    </div>
  </div>

  <div class="privacy-content-segment">
    <h2 class="promise-heading">{{ page ['Promise Heading 2']}}</h2>
    {{ page['Second Segment Text'] | markdownify }}

    <div class="privacy-info">
      <div class="privacy-info-item">
        <span class="tooltip-icon">
          <span class="tooltip-content">{{ page ['Info Tooltip 1']}}</span>
        </span>
        <h4 class="privacy-info-title">{{ page ['Info Title 1']}}</h4>
        <p>{{ page ['Info 1']}}</p>
      </div>

      <div class="privacy-info-item">
        <span class="tooltip-icon">
          <span class="tooltip-content">{{ page ['Info Tooltip 2']}}</span>
        </span>
        <h4 class="privacy-info-title">{{ page ['Info Title 2']}}</h4>
        <p>{{ page ['Info 2']}}</p>
      </div>

      <div class="privacy-info-item">
        <span class="tooltip-icon">
          <span class="tooltip-content three-lines">{{ page ['Info Tooltip 3']}}</span>
        </span>
        <h4 class="privacy-info-title">{{ page ['Info Title 3']}}</h4>
        {{ page ['Info 3 Text'] | markdownify }}
      </div>

      <div class="privacy-info-item">
        <span class="tooltip-icon">
          <span class="tooltip-content one-line">{{ page ['Info Tooltip 4']}}</span>
        </span>
        <h4 class="privacy-info-title">{{ page ['Info Title 4']}}</h4>
        {{ page ['Info 4 Text'] | markdownify }}
      </div>

      <div class="privacy-info-item">
        <span class="tooltip-icon">
          <span class="tooltip-content one-line">{{ page ['Info Tooltip 5']}}</span>
        </span>
        <h4 class="privacy-info-title">{{ page ['Info Title 5']}}</h4>
        {{ page ['Info 5']}}
      </div>

      <div class="privacy-info-item">
        <span class="tooltip-icon">
          <span class="tooltip-content four-lines">{{ page ['Info Tooltip 6']}}</span>
        </span>
        <h4 class="privacy-info-title">{{ page ['Info Title 6']}}</h4>
        {{ page ['Info 6 Text'] | markdownify }}
      </div>

      <div class="privacy-info-item">
        <h4 class="privacy-info-title">{{ page ['Info Title 7']}}</h4>
        {{ page ['Info 7 Text'] | markdownify }}
      </div>

      <div class="privacy-info-item">
        <h4 class="privacy-info-title">{{ page ['Contact Title']}}</h4>
        {{ page ['Contact Text'] | markdownify }}
      </div>
    </div>

  </div>

</section>
