---
title: Terms of Use
layout: normal-scroll
---

<div class="terms-page-container">
  <h2 class="h2 terms-title">{{ page ['Title']}}</h2>

  <section class="terms">
    <div class="terms-point">
      <h4 class="terms-heading">{{ page ['Point 1 Title']}}</h4>
      {{ page ['Point 1 Text'] | markdownify }}
    </div>

    <div class="terms-point">
      <h4 class="terms-heading">{{ page ['Point 2 Title']}}</h4>
      {{ page ['Point 2 Text'] | markdownify }}
      <p class="terms-list-lead">{{ page ['List Lead']}}</p>
      <ul class="terms-list">
        {{ page ['List Text'] | markdownify }}
      </ul>
    </div>

    <div class="terms-point">
      <h4 class="terms-heading">{{ page ['Point 3 Title']}}</h4>
      {{ page ['Point 3 Text'] | markdownify }}
    </div>

    <div class="terms-point">
      <h4 class="terms-heading">{{ page ['Point 4 Title']}}</h4>
      {{ page ['Point 4 Text'] | markdownify }}
    </div>

    <div class="terms-point">
      <h4 class="terms-heading">{{ page ['Point 5 Title']}}</h4>
      {{ page ['Point 5 Text'] | markdownify }}
    </div>

    <div class="terms-point">
      <h4 class="terms-heading">{{ page ['Point 6 Title']}}</h4>
      {{ page ['Point 6 Text'] | markdownify }}
    </div>

    <div class="terms-point">
      <h4 class="terms-heading">{{ page ['Point 7 Title']}}</h4>
      {{ page ['Point 7 Text'] | markdownify }}
    </div>

    <div class="terms-point">
      <h4 class="terms-heading">{{ page ['Point 8 Title']}}</h4>
      {{ page ['Point 8 Text'] | markdownify }}
    </div>

    <div class="terms-point">
      <h4 class="terms-heading">{{ page ['Point 9 Title']}}</h4>
      {{ page ['Point 9 Text'] | markdownify }}
    </div>

    <div class="terms-point">
      <h4 class="terms-heading">{{ page ['Point 10 Title']}}</h4>
      {{ page ['Point 10 Text'] | markdownify }}
    </div>

    <div class="terms-point">
      <h4 class="terms-heading">{{ page ['Point 11 Title']}}</h4>
      {{ page ['Point 11 Text'] | markdownify }}
    </div>

    <div class="terms-point">
      <h4 class="terms-heading">{{ page ['Point 12 Title']}}</h4>
      {{ page ['Point 12 Text'] | markdownify }}
    </div>

    <div class="terms-point">
      <h4 class="terms-heading">{{ page ['Point 13 Title']}}</h4>
      {{ page ['Point 13 Text'] | markdownify }}
    </div>

    <div class="terms-point">
      <h4 class="terms-heading">{{ page ['Point 14 Title']}}</h4>
      {{ page ['Point 14 Text'] | markdownify }}
    </div>

    <div class="terms-address">
      <h5>{{ page ['Address Title'] }}</h5>
      {{ page ['Address Text'] | markdownify }}
    </div>
  </section>
</div>
