<div class="cta section">
  <span class="cta-center-point">
    <span class="cta-arrow-top wow">
      <span class="cta-arrow-top-horizontal wow">
        <a href="/services/" class="cta-button cta-button-top wow">See Our Services</a>
        <span class="cta-content cta-content-left wow">
          {{ page['CTA First Text'] | markdownify }}
          <img src="assets/images/cta-img-1.svg" alt="">
        </span>
      </span>
    </span>
    <span class="cta-arrow-bottom wow">
      <span class="cta-arrow-bottom-horizontal wow">
        <a href="/manifesto/" class="cta-button cta-button-bottom wow">3 Pillar Design</a>
        <span class="cta-content cta-content-right wow">
          <img src="assets/images/cta-img-2.svg" alt="">
          {{ page['CTA Second Text'] | markdownify }}
        </span>
      </span>
    </span>
  </span>

  <div class="cta-mobile">
    <div class="cta-mobile-box">
      <img src="assets/images/cta-img-mobile-1.svg" alt="">
      {{ page['CTA First Text'] | markdownify }}
      <a href="/services/" class="cta-button">See Our Services</a>
    </div>

    <div class="cta-mobile-box">
      <img src="assets/images/cta-img-mobile-2.svg" alt="">
      {{ page['CTA Second Text'] | markdownify }}
      <a href="/manifesto/" class="cta-button">3 Pillar Design</a>
    </div>
  </div>

</div>
