<div class="speciality-section speciality-section-1 section">
  <div class="speciality-content-wrapper animated fadeInUp wow">
    {{ page['Our Speciality Section 1 Text'] | markdownify }}
  </div>
  {% include shared/scroll-prompt.html %}
</div>

<div class="speciality-section speciality-section-2 section">
  <div class="speciality-content-wrapper animated fadeInUp wow">
    {{ page['Our Speciality Section 2 Text'] | markdownify }}
    <img class="desktop-img" src="../assets/images/speciality-1.svg" alt="">
    <img class="mobile-img" src="../assets/images/speciality-1-1.svg" alt="">
  </div>
  {% include shared/scroll-prompt.html %}
</div>

<div class="speciality-section speciality-section-3 section has-columns">
  <div class="image-column">
    <div class="speciality-content-wrapper animated fadeInUp wow">
      <img src="../assets/images/speciality-2.svg" alt="">
    </div>
  </div>

  <div class="content-column">
    <div class="speciality-content-wrapper animated fadeInUp wow">
      {{ page['Our Speciality Section 3 Text'] | markdownify }}
    </div>
  </div>

  {% include shared/scroll-prompt.html %}
</div>

<div class="speciality-section speciality-section-4 padding-variant section">
  <div class="speciality-content-wrapper animated fadeInUp wow">
    {{ page['Our Speciality Section 4 Text'] | markdownify }}
  </div>
  {% include shared/scroll-prompt.html %}
</div>

<div class="speciality-section section">
  <div class="speciality-content-wrapper animated fadeInUp wow">
    <h2>{{ page['Sprint Section Title']}}</h2>
    <p>{{ page['Sprint Section Lead']}}</p>

    <div class="sprint-icons">
      <div class="sprint-icon-container">
        <span class="sprint-day sprint-day-1 wow">Monday</span>
        <span class="sprint-icon sprint-icon-1 wow">
          <span class="sprint-arrow wow"></span>
        </span>
        <span class="sprint-step sprint-step-1 wow">Understand</span>
        <div class="sprint-info">
          <span class="sprint-day sprint-day-1">Monday</span>
          <span class="sprint-step sprint-step-1">Understand</span>
        </div>
      </div>

      <div class="sprint-icon-container">
        <span class="sprint-day sprint-day-2 wow">Tuesday</span>
        <span class="sprint-icon sprint-icon-2 wow">
          <span class="sprint-arrow wow"></span>
        </span>
        <span class="sprint-step sprint-step-2 wow">Sketch</span>
        <div class="sprint-info">
          <span class="sprint-day sprint-day-1">Tuesday</span>
          <span class="sprint-step sprint-step-1">Sketch</span>
        </div>
      </div>

      <div class="sprint-icon-container">
        <span class="sprint-day sprint-day-3 wow">Wednesday</span>
        <span class="sprint-icon sprint-icon-3 wow">
          <span class="sprint-arrow wow"></span>
        </span>
        <span class="sprint-step sprint-step-3 wow">Decide</span>
        <div class="sprint-info">
          <span class="sprint-day sprint-day-1">Wednesday</span>
          <span class="sprint-step sprint-step-1">Decide</span>
        </div>
      </div>

      <div class="sprint-icon-container">
        <span class="sprint-day sprint-day-4 wow">Thursday</span>
        <span class="sprint-icon sprint-icon-4 wow">
          <span class="sprint-arrow wow"></span>
        </span>
        <span class="sprint-step sprint-step-4 wow">Prototype</span>
        <div class="sprint-info">
          <span class="sprint-day sprint-day-1">Thursday</span>
          <span class="sprint-step sprint-step-1">Prototype</span>
        </div>
      </div>

      <div class="sprint-icon-container">
        <span class="sprint-day sprint-day-5 wow">Friday</span>
        <span class="sprint-icon sprint-icon-5 wow">
        </span>
        <span class="sprint-step sprint-step-5 wow">Validate</span>
        <div class="sprint-info">
          <span class="sprint-day sprint-day-1">Friday</span>
          <span class="sprint-step sprint-step-1">Validate</span>
        </div>
      </div>

    </div>
  </div>

  {% include shared/scroll-prompt.html %}
</div>

<div class="speciality-section speciality-section-5 padding-variant section">
  <div class="speciality-content-wrapper animated fadeInUp wow">
    {{ page['Our Speciality Section 5 Text'] | markdownify }}
  </div>
  {% include shared/scroll-prompt.html %}
</div>
